.backdrop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 9000;
  background: rgba(0, 0, 0, 0.507);
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9000;
  transform: translateX(-50%) translateY(-50%);
}
