.container {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.total-container {
  display: flex;
  justify-content: space-between;
}

.total-container span:first-of-type {
  font-weight: bold;
}
